@font-face {
    font-family: 'dovahkiinregular';
    src: url('Polices/dovahkiin-webfont.woff2') format('woff2'),
         url('Polices/dovahkiin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'geosanslightregular';
    src: url('Polices/geosanslight-webfont.woff2') format('woff2'),
         url('Polices/geosanslight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body{
    background-image: url(Images/amethyst2.jpg);
    background-attachment: fixed;
    background-size: 100vw;
}
header{
    background-image: url(Images/crystal2.jpg);
    background-attachment: scroll;
    background-size:100vw;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(69, 36, 100);
    height:200px;
}
.titre-header{
    font-family: 'dovahkiinregular';
    font-size:50px;
    text-align:center;
    color:rgb(69, 36, 100);
}
.soustitre-header{
    font-family: 'geosanslightregular';
    font-size:25px;
    display:block;
    text-align:center;
    color:rgb(69, 36, 100);
}
.soustitre-header2{
    font-family: 'geosanslightregular';
    font-size:20px;
    text-align: center;
    display: block;
    color:rgb(69, 36, 100);
}
.bienvenue{
    background-color:rgba(69, 36, 100, 0.452);
    width: 50%;
    margin:0 auto;
}
.bienvenue-texte{
    display: block;
    text-align: center;
    font-family: 'geosanslightregular';
    font-size:20px;
    color:white;
}
.connexion{
    background-color:rgba(255, 255, 255, 0.568);
    width: 50%;
    margin:0 auto;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(69, 36, 100);
}
.sco{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:64px;
}
#loginc, #mdpc, .forco{
    font-family: 'geosanslightregular';
    font-size:20px;
}
.forco{
    text-align:left;
    margin-left:90px;
    font-weight: bold;
}
#loginc, #mdpc{
    margin-left: auto;
    margin-right:auto;
    display:block;
    width:200px;
}
#envoyer{
    font-family: 'geosanslightregular';
    font-size:20px;
    display: block;
    margin-left:338px;
}
.bienvenue-lien{
    font-family: 'geosanslightregular';
    font-size:20px;
    display: flex;
    margin-left:30px;
    width:120px;
}
.bienvenue-lien2{
    font-family: 'geosanslightregular';
    font-size:20px;
    display: flex;
    margin-bottom:40px;
    margin-left:400px;
    margin-top: -25px;
    text-align:center;
    justify-content: right;
}
footer{
    background-color:rgba(52, 25, 94, 0.473);
    height: 160px;
}
.imgfoot1{
    width:58px;
    height: 46px;
    display: flex;
    padding-top: 15px;
    margin-left: 15px;
}
.textfoot{
    font-family: 'geosanslightregular';
    font-size:20px;
    color:white;
    display:flex;
    text-align:center;
    margin-left:330px;
}
.imgfoot2{
    width:94px;
    height:42px;
    display:flex;
    margin-left:1100px;
    padding-bottom:40px;
}
.mdp{
    background-color:rgba(69, 36, 100, 0.452);
    width: 50%;
    margin:0 auto;
    font-family: 'geosanslightregular';
    color:white;
    text-align: center;

}
.mdp2{
    font-size:25px;
    font-weight: bold;
}
.mdp3{
    font-size:20px;
    font-style: italic;
}
.mdpperdu{
    background-color:rgba(255, 255, 255, 0.568);
    width: 50%;
    margin:0 auto;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(69, 36, 100);
    font-family:'geosanslightregular';
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
#infomdp{
    font-size:25px;
}
#email{
    margin-top:15px;
}
#bouton_contact{
    margin-top:15px;
    margin-bottom: 15px;
}
#linkmdp2{
    margin-top:15px;
}
#linkmdp1{
    margin-bottom:15px;
}
.inscription{
    background-color:rgba(69, 36, 100, 0.452);
    width: 50%;
    margin:0 auto;
    text-align:center;
    font-size:30px;
    color:white;
    font-family: 'geosanslightregular';
    padding-top:15px;
    padding-bottom: 15px;
}
.formulaire{
    background-color:rgba(255, 255, 255, 0.568);
    width: 50%;
    margin:0 auto;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(69, 36, 100);
    padding-top:25px;
    padding-bottom: 25px;
    padding-left: 15px;
}
#formulaire2{
    text-align: center;
}
.gpludid{
    font-family: 'geosanslightregular'; 
    color: rgb(69, 36, 100);
    font-weight:bold;
    font-size:15px;
}
.labelform{
    font-family: 'geosanslightregular'; 
    color: rgb(69, 36, 100);
    font-weight:bold;
    font-size:20px;
    margin-bottom: 0px;
    margin-top: 15px;
    display: block;
}
.labelform2{
    font-family: 'geosanslightregular'; 
    color: rgb(69, 36, 100);
    font-size:15px;
    display: block;
    margin-top: -10px;
}
#login, #mdp, #prenom, #nom, #homme, #femme, #email, #anniversaire, #tel, #études, #hobbies{
    font-family: 'geosanslightregular'; 
    color: rgb(69, 36, 100);
    font-size:15px;
    width:200px;
}
#msg{
    width:400px;
    height:150px;
    display: block;
    margin: 0 auto;
    margin-top: 15px;
}
#études{
    margin-top:15px;
    margin-bottom:15px;
    font-weight: bold;
    font-size:20px;
    width:300px;
    height:50px;
}
#hobbies{
    font-weight: bold;
    font-size:20px;
    width:300px;
    height:50px;
}
#bouton_contact{
    font-family: 'geosanslightregular'; 
    color: rgb(69, 36, 100);
    font-size:25px;
    margin-left: 420px;
}
#email{
    margin-top:0px;
}